h1 {
    color:aqua;
    margin-top:40px;

}
.header *{

border:solid

}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami{

    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;

}

.menu{
   display:flex;
   justify-content: space space-between;
   background-color: #000000;
   padding: 15px;
   font-size: 20px;
   font-family: sans-serif;
   font-weight: 400px;
   color: #ffffff;
}
body{
  margin: 0px;
  background-color: #f7f2f2;

}

.header {
background-color: #af56d0;
display:flex;
justify-content: space-between;

} 